
@import 'variables';

body {
    background-color: rgb(88, 207, 195);
  }
  
  h2{
    font-size: 50px;
    background-color:rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    width: 300px;
    padding: 20px;
    padding-bottom: 40px;
    position: fixed;
    left: 0;
  }
  
  
  .ul_categories{
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none; 
    padding: 15px;
    padding-top: 60px;
    margin:0px;
    background-color:rgb(255, 255, 255);
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 230px;
  }
  
  .ul_categories li {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin:10px;
    padding:5px;
    display:block;
    left: 0;
    top: 200px;
  }
  
  img{
    height: 100vh;
    width: 100vw;
  }
   
  .grid {
    margin: 40px 500px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-row: repeat(3, 250px);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }
  