* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 62.5%;
  margin:0;
  padding:0;
  
}

html, body 
{
  font-family: 'Raleway', sans-serif;
}


.navbar {
  clear: both;
  height: 7vh;
  background-color:#007E84;
  border-bottom: 2px solid #386C6F;

}

.nav-button{
  display:none

}

    
#logo {
  float:left;
  margin:0 5px;
  width: 70px;
  height:50px;
  margin-top: 5px;
}

i {
  color:white;
  font-size: 3em;
}
    
#navlist {
  margin:0;
  padding:1.5em;
  float: right;
  font-size:2.5em;
}

.clear{
  clear:both;
}
      
 li {
  display: inline;
  padding-right: 20px;
  color:white;
  font-size: 2.5em;
 }

a:link {
  color:white;
}

a:visited {
    color:white
}
.img1 {
	width: 400px;
	height: 270px;
  margin: 0em 2vw;
	&:hover {
		-webkit-transition: 0.5s;
	}
}
.img2 {
	width: 400px;
	height: 270px;
  margin: 0em 2vw;
	&:hover {
		-webkit-transition: 0.5s;
	}
}
.img3 {
	width: 400px;
	height: 270px;
  margin: 0em 2vw;
	&:hover {
		-webkit-transition: 0.5s;
	}

}
footer {
	background-color: teal;
	text-align: center;
	padding-bottom: 15px;
}
.sm-handle {
	display: flex;
	padding-top: 2rem;
	justify-content: center;
}
.sm-button {
  margin: 2PX;
	width: 4rem;
	height:4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.fab {
	color: #fff;
	font-size: 16px;
}

footer{
  position: absolute;
  bottom:0;
  padding-bottom: 6px;
  width: 100vw;
  height: 16vh;
}

footer p{
  font-size: 10px;
}

.footer-links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	letter-spacing: 1px;
	word-spacing: 1px;
}
.menu-title {
	margin-bottom: 0px;
  font-size: 8em;
}
.footer_menu {
	margin-bottom: 5px;
	margin-top: 5px;
}
.copyright {
	color: white;
  font-size: 2em;
	letter-spacing: 1.2px;
	word-spacing: 2px;
}
@media screen and (max-width:700px){

.navbar{
  width: 100vw;
}

.navlist{
  background-color: teal;
  padding:5px;
  font-size:2em;
  width: 100vw;
}

#Home{
display: none;
}

.categories{
  width: 100vw;
  background-color: teal;
  display: block;
  padding: 20em;
}

